/* CSSeu  */

body {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#container {
    display: table-cell;
    vertical-align: middle;
}

.box {
    width: 300px;
    padding: 5px;
    margin: 7px auto;   
    text-align: center;
    background-color: rgb(39, 174, 96);
    border-radius: 25px;
    font-size: 1.5em;
    padding: 15px;
}
